@model IEnumerable<data_statistic_Q2.ViewModels.DashboardTicketData>


@{
    ViewBag.Title = "Dashboard for random json data";
}

<h4>檔案名稱：@ViewBag.filename</h4>
<h4>平均回應時間：@ViewBag.avgrspstime</h4>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseMinutes)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseMinutes)
            </td>
        </tr>
    }

</table>
